.title {
  margin-bottom: 15px;
  position: relative;
}

.add-education {
  position: absolute;
  right: 16px;
  top: 5px;
  z-index: 9;
}

.edit-form {
  .q-input {
    margin-bottom: 10px;
  }

  .q-editor {
    margin-top: 10px;
  }
}

.text-select-margin-align {
  margin-top: 25px;
}
